{{extend 'layout.html'}}

    <link href="{{=URL('static','css/item_profile.css')}}" rel="stylesheet" type="text/css"/>

<style>
	body { background-image: url("images/all.jpg") }
</style>


<div class="image1">
	<br><br><br>
	<div class="column left_blank" >
	</div>

	<div class="column left">
		<h2>Seller info</h2>
		<p>
	  	Name:
			{{=item.seller}}
			  <br>
	 		Mobile: 
			{{=profile.mobile_phone}}
			  <br>
	  	Email:
			{{=item.email}}
				<br>
			Venmo:
			{{=profile.venmo}}
				<br>
	  	</p>
	</div>

	<div class="column middle wrap">
		<h2>Photo</h2>
   	<img width="400px" class="center" src="{{=URL('download', args=item.image)}}">
	</div>

	<div class="column right ">
		<h2>Item Info</h2>
    	<p>
			Item Name:
			{{=item.item}}
			<br>
			Description:
			{{=item.description}}
			<br>
			Price: $
			{{=item.price}}
			<br>
			College Location:
			{{=item.college_location}}
			<br>
			Sold?
			{{if item.sold:}}
				Yes
			{{else:}}
				No
			{{pass}}
			<br>
			Date Posted:
			{{=item.date_posted}}
		</p>
	</div>

	<div class="column right_blank">
	</div>
</div>
